.topics {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    color: #707070;
    padding: 5px;
    border: 1px solid black;
}
.topicsTitle {
    padding: 0;
    margin: 0 0 5px 0;
}
.topicsMapper {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}