.userContent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    color: #707070;
}

.greeting {
    margin: 0;
    padding: 0;
    font-size: 34px;
}
.profileOptions {
    display: flex;
}
.profileOptions p {
    padding: 0;
    margin: 0 20px 0 0;
    font-size: 16px;
}
.profilePicture {
    height: 67px;
    width: auto;
    border: 1px solid #707070;
    box-sizing: border-box;
}