.newPost {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #707070;
}
.pleaseLoginToPost {
    padding: 5px;
    margin: 0 0 5px 0;
    font-size: 24px;
    font-weight: normal;
    color: #707070;
}