.pages {
    text-align: center;
}
.pagesList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.activePage {
    font-weight: bold;
}
.pagesList * {
    margin-left: 10px;
    cursor: pointer;

}