.editReplyListItem {
    margin: 0 0 30px 0;
    padding: 0 0 10px 0;        
    border-bottom: 1px solid thistle;
}
.editReplyFormContainer {
    display: flex;
    flex-direction: column;
}
.editReplyInfo {
    margin: 0 0 5px 0;
    padding: 0 0 0 5px;
    color: #ABABAB;
    font-family: Arial, Helvetica, sans-serif;
}
.editReplyInput {
    margin: 0 0 5px 0;
    padding: 5px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
    line-height: 1.4em;
    outline: none;
    border: 1px solid #C5C5C5;
    border-radius: 2px;
    font-size: 14px;
    color: #515151;
}
.editReplyButtons {
    align-self: flex-end;
    display: flex;
    margin: 0;
    padding: 0;
}
.editReplyCancel {
    padding: 0;
    margin: 0 20px 0 0;
    color: #707070;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.editReplySubmit {
    padding: 0;
    margin: 0;
    color: #707070;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}